:root {
    --primary: black;
    --secondary: #592E83;
}

* {
    /* margin: 0;
    padding: 0; */
    scroll-behavior: smooth;
    font-family: 'Playfair Display', serif;
}

body {
    background: url('bg_gradient.png'), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) no-repeat;
    background-size: 100% 100%;
    color: --primary;
}

/*────────────────── Header ──────────────────*/

header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    background: transparent;
    position: fixed;
    transition: 1s;
    letter-spacing: 0.1vmin;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}

.nav-bar {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.left-item {
    margin-left: 1vw;
    margin-right: auto;
    /* Pushes "Home" to the far left */
}

.right-item {
    margin-left: 1vw;
    margin-right: 1vw;
    /* Adds spacing between right items */
}

a.nav-link {
    font-size: 2.5vmin;
    padding: 1vh 1vw;
    text-decoration: none;
    cursor: pointer;
    color: var(--primary);
}

.nav-link:hover {
    color: var(--secondary);
    border-bottom: solid 0.3vmin;
    transition: 0.3s;
}

/*───────────────── Home Page ─────────────────*/

#home {
    margin: 0 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;

}

/*────────────────── Headings ──────────────────*/

h2,
h3,
h4 {
    margin: 0;
    font-weight: 400;
}

h1 {
    font-family: 'Tangerine', cursive;
    font-size: 10vmax;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

h2 {
    font-size: 3vmax;
}

h3 {
    font-size: 1.5vmax;
}

h4 {
    font-size: 1vmax;
}

hr {
    height: 0;
    background: transparent;
    border-bottom: 0px solid var(--secondary);
    width: 40%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/*────────────────── About Me ──────────────────*/

.about {
    text-align: center;
    color: var(--primary);
    padding: 18vh 12vw 2vh 12vw;
    height: 100vh;
}

.about h2 {
    font-weight: bold;
}

.about h3 {
    font-size: 2vmax;
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-bottom: 2vmax;
    font-weight: 400;
}

.about p {
    font-size: 1.3vmax;
    text-align: left;
}

.about a {
    text-decoration: none;
}

.awards {
    text-align: left;
    padding: 5vh 12vw;
}

.awards h1 {
    font-size: 2vmax;
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-bottom: 2vmax;
    font-weight: 400;
}

.awards p, ul {
    font-size: 1.3vmax;
}

/*             Resume Buttons                */

.button {
    color: var(--primary);
    font-size: 1.5vmax;
    text-decoration: none;
    border: 0.3vmin solid var(--primary);
    display: inline-block;
    padding: 2vh 1.75vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 3vh;
    box-shadow: 1vmin 1vmin rgba(89, 46, 131, 0.5);
}

.button:hover {
    color: var(--secondary);
    border: 0.3vmin solid var(--secondary);
}

.button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 1.5vw;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/*────────────────── Projects ──────────────────*/

.projects {
    text-align: center;
    color: var(--primary);
    padding: 20vh 5vw 0 5vw;
}

.projects h1 {
    margin-top: 10vh;
    font-size: 3vmax;
    font-family: 'Playfair Display', serif;
}

.projects h2 {
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 1.5vmax;
}

.projects h3 {
    font-size: 1.75vmax;
    margin-bottom: 2vh;
    text-align: center;
}

.projects p {
    font-size: 1vmax;
}

.projects a {
    text-decoration: none;
    color: var(--secondary);
}

.projects i {
    font-size: 1.5vmax;
    margin-right: 1.5vmin;
}

.card-container {
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
    min-width: 80vw;
    justify-content: center;
}

.card {
    background: #fff;
    border-radius: 1vmax;
    box-shadow: 0 0.5vmin 0.75vmin rgba(89, 46, 131, 0.2);
    padding: 3vmax;
    max-width: 300px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-1vh);
    box-shadow: 0.75vmin 1vmin rgba(89, 46, 131, 0.5);
}

.card-links {
    margin-top: 3vh;
    display: flex;
    justify-content: flex-start;
}

.card-links a {
    text-decoration: none;
    color: var(--secondary);
    font-weight: bold;
    transition: color 0.3s ease;
}

.card-links a:hover {
    font-style: italic;
    color: var(--secondary);
}

/*────────────────── Contact ──────────────────*/

#contact {
    margin: auto;
    min-height: 60vh;
    text-align: center;
    padding-top: 20vh;
}

/*────────────────── Footer ──────────────────*/

footer {
    width: 100%;
    background-image: url('footer_gradient.png');
    background-size: 100% 15vh;
    background-position: bottom;
    height: 15vh;
    margin-bottom: -1vh;
}

/*─────────────── Social Media Icons ──────────────*/

.social-media {
    padding: 1vw;
    display: flex;
    position: center;
    align-items: space-around;
    justify-content: center;
}

.social-media a {
    margin: 2vmin 2vmax;
    font-size: 3vmax;
    text-align: center;
    display: inline-block;
    color: var(--secondary);
}

.social-media a:hover {
    /* color: rgb(51, 212, 207); */
    color: var(--primary);
}

/*────────────────── Hamburger ──────────────────*/
.hamburger {
    display: none;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background: var(--secondary);
    margin: 5px;
    transition: all 0.3s ease;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translatey(50px);
    }

    to {
        opacity: 1;
        transform: translatey(0px);
    }
}

/*────────────────── Media queries ──────────────────*/

@media (max-width: 900px) {

    #home,
    #projects,
    #contact {
        overflow-x: hidden;
    }

    body {
        background-size: auto 100%;
    }

    .section {
        padding: 10vmin 0;
    }

    .nav-bar {
        position: fixed;
        top: 0px;
        right: 0;
        width: 60%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: rgb(255, 255, 255, 0.5);
        transform: translatex(100%);
        transition: transform 0.5s ease-in;
    }

    .left-item {
        margin-left: 1vw;
        margin-right: 1vw;
    }

    header:hover {
        background: transparent;
    }

    .hamburger {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        cursor: pointer;
        z-index: 5;
    }

    .nav-bar li {
        opacity: 1;
        color: var(--primary);
        background-color: white;
        padding: 2vmax 3vmax;
        border: solid .5vmin;
        box-shadow: 1vmin 1vmin rgba(89, 46, 131, 0.5);
    }
}

.nav-active {
    transform: translatex(0%);
}