@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


:root {
    --hot-pink: #F72585;
    --light-green: #b1ffa1;
    --blue: #346CD5;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: url(background.jpg) no-repeat center fixed;
    background-size: 100% 100%;
    color: white;
}

.section {
    padding: 10vh;
}

/*────────────────── Header ──────────────────*/

header {
    width: 100%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    position: fixed;
    transition: 1s;
    letter-spacing: 0.1vmax;
}

header:hover {
    background: rgb(255, 255, 255, 0.8);
}

.nav-bar {
    list-style: none;
    position: relative;
    display: inline-flex;
}

a.nav-link {
    margin: 1vw;
    font-size: 3vmin;
    padding: 1vh 2vw;
    text-decoration: none;
    cursor: pointer;
    color: var(--blue);
}

.nav-link:hover {
    color: var(--hot-pink);
    border-bottom: solid 0.3vmin;
    transition: 0.3s;
}

/*───────────────── Home Page ─────────────────*/

#home {
    margin: 0 5vmax;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h3 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    animation:
        typing 2.5s steps(50, end),
        blink-caret 0.2s ease infinite;
    font-size: 5vmin;
    text-align: center;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/*────────────────── Headings ──────────────────*/

h1 {
    font-size: 12vmin;
}

h2 {
    font-size: 8vmin;
}

hr {
    background: var(--hot-pink);
    margin: 3vmin auto;
    height: 1vmin;
    width: 8vmax;
    border-radius: 3vmax;
    border: hidden;
}

/*                  Arrow Down Button         */

.scroll a {
    position: absolute;
    bottom: 5vh;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding-top: 15vh;
}

#scroll a span {
    position: absolute;
    top: 0;
    width: 5vmin;
    height: 5vmin;
    margin-left: -.5vw;
    border-left: .8vmin solid white;
    border-bottom: .8vmin solid white;
    transform: rotate(-45deg);
    animation: sdb07 2s infinite;
    box-sizing: border-box;
}

@keyframes sdb07 {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

/*────────────────── About Me ──────────────────*/

.about {
    text-align: center;
    color: var(--blue);
    background-color: rgb(255, 255, 255, 0.9);
    padding: 10vmin 10vw;
}

.about p {
    padding-top: 3vh;
    text-align: left;
    font-size: 3.5vmin;
}

/*             Resume Button                */

.button {
    color: var(--blue);
    font-size: 3.5vmin;
    text-decoration: none;
    border: 0.3vmin solid var(--blue);
    border-radius: 5vmin;
    display: inline-block;
    padding: 3vmin 2vmax;
    margin-top: 3vmax;
    margin-left: 5vmax;
}

.button:hover {
    color: var(--hot-pink);
    border: 0.3vmin solid var(--hot-pink);
    font-style: italic;
}

.button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 1.5vw;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/*────────────────── Projects ──────────────────*/

#projects {
    text-align: center;
    color: var(--blue);
}

.projects {
    background-color: rgb(255, 255, 255, 0.9);
    padding: 10vmin 10vw;
}

table {
    margin: auto;
    padding: 2vw;
    max-width: 90vw;
}

th {
    padding-bottom: 1vmin;
    font-size: 5vmin;
}

td {
    padding: 2vw;
    text-align: left;
}

.projectname {
    font-size: 4vmin;
    text-align: center;
}

.descrip {
    font-size: 3.5vmin;
    padding-left: 3vw;
    max-width: 50vw;
}

.end {
    text-align: center;
    font-size: 3.5vmin;
}

table a {
    color: var(--hot-pink);
    text-decoration: none;
}

/*────────────────── Contact ──────────────────*/

#contact {
    margin: auto;
    min-height: 60vh;
    text-align: center;
    padding-top: 15vh;
}

#contact p {
    padding: 2vh;
    font-size: 4vmin;
}

/*────────────────── Footer ──────────────────*/

footer {
    width: 100%;
    background: white;
}

/*────────────────── Hamburger ──────────────────*/
.hamburger {
    display: none;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background: var(--blue);
    margin: 5px;
    transition: all 0.3s ease;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translatey(50px);
    }

    to {
        opacity: 1;
        transform: translatey(0px);
    }
}

/*─────────────── Social Media Icons ──────────────*/

.social-media {
    padding: 1vw;
    display: flex;
    position: center;
    align-items: space-around;
    justify-content: center;
}

.social-media a {
    margin: 2vmin 1vmax;
    font-size: 3vmax;
    text-align: center;
    display: inline-block;
    color: var(--blue);
}

.social-media a:hover {
    /* color: rgb(51, 212, 207); */
    color: var(--hot-pink);
}

/*────────────────── Media queries ──────────────────*/

@media (max-width: 900px) {

    #home,
    #projects,
    #contact {
        overflow-x: hidden;
    }

    body {
        background-size: auto 100%;
    }

    .section {
        padding: 10vmin 0;
    }

    .nav-bar {
        position: fixed;
        top: 0px;
        right: 0;
        width: 60%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: rgb(255, 255, 255, 0.5);
        transform: translatex(100%);
        transition: transform 0.5s ease-in;
    }

    header:hover {
        background: transparent;
    }

    .hamburger {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        cursor: pointer;
        z-index: 5;
    }

    .nav-bar li {
        opacity: 1;
        color: var(--hot-pink);
        background-color: white;
        padding: 2vmax 3vmax;
        border: solid .5vmin;
    }

    .about p {
        text-align: left;
        font-size: 4vmin;
    }

    #contact p {
        padding: 10px 50px;
    }

    .descrip {
        padding-left: 2vw;
        min-width: 50vw;
    }

    .social-media a {
        margin: 2vmax;
    }
}

.nav-active {
    transform: translatex(0%);
}